.sidebar{
    width: 100px;
    height: calc(100vh - 20px);
    // height: 100vh;
    padding: 10px;
    background: lightblue;
    
    .sidebar-item{
        padding: 10px;
        cursor: pointer;

        &.selected{
            background: white;
            color: blue;
        }

        &:hover{
            background: lightseablue;
        }

    }

}