.login-form{
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    padding: 0 30px 30px 30px;
    border-radius: 8px;
    background-color: lightgray;

    h3 {
        text-align: center;
    }

}